*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background:black;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: 10;
    letter-spacing: 2px;
}

header{
    background-color: black;
    background: radial-gradient(
        circle,
        #FD0000,
        #DEA013
    );
    text-align: center;

    border-bottom: solid white 1vh;
}

.titulo{
    font-size: 7vh;
    color: rgb(0, 0, 0);
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    padding-top: 2vh;
}

.imagem{
    height: 20vh;
}

main{
    text-align: center;
    color: wheat;
    text-align: center;
}

.pergunta{
    margin: 2vh auto;
    width: 90%;
    border: solid wheat;
    border-radius: 10px;
}

.subtitulo{
    font-size: 8vw;
    padding: 2.5vh 0;
}

input{
    width: 50%;
    padding: 10px;
    font-size: 7vw;

    border-radius: 10px;

    text-align: center;

    margin-bottom: 2vh;
}

.subtitulo2{
    font-size: 7vw;
    padding: 2.5vh 0;
}

select{
    font-size: 6vw;
    margin-bottom: 2vh;
    text-align: center;
    text-align-last: center;
}

.adicionar{
    padding: 2vh 2vw;
    margin: 2vh auto;
    width: 70%;
    background-color: rgb(255, 145, 0);
    color: black;
    border-radius: 10px;
    text-align: center;
    font-size: 6vw;
}

.limpar{
    padding: 2vh 2vw;
    margin: 2vh auto;
    width: 70%;
    background-color: rgb(255, 60, 0);
    color: black;
    border-radius: 10px;
    text-align: center;
    font-size: 6vw;
}

.scroll{
    width: 90%;
    background-color: white;
    margin: 5vh auto;
    padding: 2vh 2vw;
    border-radius: 10px;
}

.resultado{
    color: black;
    font-size: 4.5vw;
    text-align: center;
}

footer{
    background: radial-gradient(
        circle,
        #FD0000,
        #DEA013
    );
    padding: 2vh 2vw;

    border-top: solid white 1vh;
}

footer :nth-child(1){
    font-size: 8vw;
    text-align: center;
}
